<!-- Contact -->




<div class="container justify-content text-center contact hvr-bubble-bottom ">
    <div class="row">
        <h2>Contact us <i class="fa fa-sign-in" aria-hidden="true"></i></h2>


    </div>
</div>


<div class="container justify-content text-center">


    <div class="row">
        <div class="">

            <form class="form-horizontal main-form" role="form">
                <div class="form-group">
                    <div class="">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" ">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                    </div>
                </div>
                <div class="form-group">
                    <div class=" ">
                        <textarea name="message" class="form-control" rows="3" placeholder="Message Or your opinion "></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" ">
                        <button type="button" class="btn btn-primary btn-lg btn-block hvr-radial-in" style="animation-duration: 0.75ms !important;
                        animation-delay: 0.75ms !important;">Send message </button>
                    </div>
                </div>
            </form>

        </div>


    </div>


</div>
