<footer class="">
    <div class="container justify-content text-center">
        <div class="row">
            <div class="col-md-12">
                <h3 class="">
                    <p class="opacityPulse-cssi">Created by hassan in 2021 </p>
                </h3>
                <p>Contact me </p>
                <i class=""></i>
                <i class=""></i>
                <a href="https://twitter.com/HassanHamdiAsh2" target="_blank"><i
                      class="fab fa-twitter-square fa-3x  rotating-cssi "></i></a>
                <a href="https://www.facebook.com/hassanHamdiashour" target="_blank"><i
                      class="fab fa-facebook-square fa-3x rotating-cssi"></i></a>
                <a href="https://github.com/hassan3030" target="_blank"><i
                      class="fab fa-github-square fa-3x rotating-cssi"></i></a>
                <a href="https://www.linkedin.com/in/hassan-hamdia/" target="_blank"><i
                      class="fab fa-linkedin fa-3x rotating-cssi"></i></a>

            </div>
        </div>
    </div>
</footer>
