<div class="container-fluid  justify-content text-center home img-responsive">
    <div class="wow">



        <div class="sub-home">
            <img src="assets/Myphoto.JPG" alt="notFound" class="hvr-shrink ">


            <h3 class="hvr-forward" style="display: block"> Hello i'm HASSAN HAMDI</h3>
            <p class="hvr-backward " style=" display: block ">Frontend Developer</p>

            <span>
              <a href="https://twitter.com/HassanHamdiAsh2 " target="_blank "><i
                class="fab fa-twitter-square fa-3x rotating-css1  hvr-buzz  "></i></a>
          <a href="https://www.facebook.com/hassanHamdiashour " target="_blank "><i
                class="fab fa-facebook-square fa-3x  hvr-buzz rotating-css1  "></i></a>
          <a href="https://github.com/hassan3030 " target="_blank "><i
                class="fab fa-github-square fa-3x rotating-css1  hvr-buzz "></i></a>
          <a href="https://www.linkedin.com/in/hassan-hamdia/ " target="_blank "><i
                class="fab fa-linkedin fa-3x rotating-css1  hvr-buzz "></i></a>
            </span>
        </div>
    </div>
</div>
